@media(max-width:768px) {
    .container .card{
        width: 430px;
        height: 700px;
    }

    .container .card .image{
        width: 100%;
        height: 200px;
    }

    .infos h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .infos .text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .infos .plan ul{
        padding: 15px 10px;
        margin: 0 40px;
    }    

    .infos .plan ul li img {
        width: 70px;
        height: 70px;
    }

    .infos .plan h4 {
        font-size: 20px;
    }

    .infos .plan .price {
        font-size: 18px;
    }
    .infos .plan .change {
        font-size: 16px;
    }

    .pay .btn {
        margin: 20px 40px;
        padding: 20px 30px;
        font-size: 18px;
    }

    .pay .cancel {
        font-size: 16px;
    }
}

@media(max-width:375px) {
    .container .card {
        width: 300px;
        height: 100%;
        margin: 20px;
    }
}